.index {
  padding: 20px;
  
  .platform-card,
  .counter-card,
  .user-card {
    margin-bottom: 20px;
  }
  
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    
    .count-number {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
  
  .user-info {
    padding: 10px 0;
    font-size: 16px;
  }
  
  .navigation-btn {
    margin-top: 30px;
  }
}
